:root {
  /* --bs-primary-rgb: #006b56; */
  --bs-primary-rgb: 255, 253, 245;
  --bs-primary-rgb-dark: 1, 80, 64;
  --bs-link-color: rgb(89, 91, 92);
  --bs-link-color-rgb: rgb(89, 91, 92);
  --bs-link-hover-color: rgb(168, 168, 168);
  --bs-link-hover-color-rgb: rgb(168, 168, 168);
  --bs-highlight-bg: #029678;
  --bs-secondary-rgb: 232, 228, 214;
  --secondary-gradient: linear-gradient(138deg, #f5f3ec 0.57%, #fffdf6 78.12%);
  --swiper-theme-color: #ffc107 !important;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 300;
  font-display: swap;
  src: url("../webfonts/UcC73FwrK3iLTeHuS_fjbvMwCp50vDAa1ZL7.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/UcC73FwrK3iLTeHuS_fjbvMwCp504jAa1ZL7.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/UcC73FwrK3iLTeHuS_fjbvMwCp500DAa1ZL7.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 600;
  font-display: swap;
  src: url("../webfonts/UcC73FwrK3iLTeHuS_fjbvMwCp50PDca1ZL7.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: #fffdf6 !important;
  font-family: "Inter", sans-serif;
}

.btn {
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.75rem;
}

.btn-primary {
  --bs-btn-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-bg: rgb(var(--bs-primary-rgb-dark));
  --bs-btn-disabled-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-disabled-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb-dark);
  --bs-btn-active-bg: rgb(var(--bs-primary-rgb-dark));
  --bs-btn-active-border-color: rgb(var(--bs-primary-rgb));
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-dark);
  --bs-btn-border-color: var(--bs-dark);
  --bs-btn-hover-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-active-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-disabled-color: rgb(var(--bs-primary-rgb));
  --bs-btn-disabled-border-color: rgb(var(--bs-primary-rgb));
}

.form-control:focus {
  border-color: rgb(var(--bs-primary-rgb));
  box-shadow: 0 0 0 0.25rem rgb(var(--bs-primary-rgb), 0.25);
}

.form-check-input:focus {
  border-color: rgb(var(--bs-primary-rgb));
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.form-check-input:checked {
  background-color: rgb(var(--bs-primary-rgb));
  border-color: rgb(var(--bs-primary-rgb));
}

.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 10 10'%3E%3Ccircle r='5' fill='%23006B56'/%3E%3Ccircle r='4.7' fill='%23FFF'/%3E%3Ccircle r='3.5' fill='%23006B56'/%3E%3C/svg%3E");
}

.form-select:focus {
  border-color: rgb(var(--bs-primary-rgb));
  box-shadow: 0 0 0 0.25rem rgb(var(--bs-primary-rgb), 0.25);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: rgb(var(--bs-primary-rgb));
}

::-moz-selection {
  background-color: rgb(var(--bs-primary-rgb));
}

::selection {
  background-color: rgb(var(--bs-primary-rgb));
}

*::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: #c1c1c1;
}

*::-webkit-scrollbar-thumb {
  background: #8d8d8d;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--bs-primary-rgb));
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #ffc107;
  color: rgba(var(--bs-dark-rgb)) !important;
}

.nav .nav-link.active:not(.btn),
.nav .show > .nav-link:not(.btn) {
  transition: all 0.2s !important;
  color: rgb(var(--bs-primary-rgb));
  border-radius: 0 !important;
  border-bottom: 2px solid rgb(var(--bs-primary-rgb));
}

.backdrop-blur-md {
  backdrop-filter: blur(20px);
}

@media (max-width: 576px) {
  .overflow-hidden-sm {
    overflow: hidden !important;
  }
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.075) !important;
}

.arrow-icon {
  background: linear-gradient(120deg, #f8c515, #fffdf6);
  padding: 7px 8px;
}

.services-gradient {
  background: var(--secondary-gradient);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.08),
    -10px -10px 25px 0px #fffdf6;
}

.services-bg-textclip {
  opacity: 0.1;
  font-size: 8rem;
  background: var(--2, linear-gradient(180deg, #000 -111.54%, #fffdf6 100%));
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 576px) {
  .services-bg-textclip {
    font-size: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .bg-transparent-logo {
    background-image: none;
  }
}
.accordion {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath d='M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z' fill='%23ffc107'%3E%3C/path%3E%3C/svg%3E") !important;
  --bs-accordion-btn-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'><path d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z' fill='%23ffc107'></path></svg>") !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: transparent;
  box-shadow: transparent !important;
}
.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 31rem !important;
  height: auto !important;
}

@media screen and (max-width: 576px) {
  .swiper-slide {
    width: 16rem !important;
  }
}

.swiper-slide.swiper-slide-visible.swiper-slide-active {
  transition: all 0.3s !important;
}

.swiper-slide-visible.swiper-slide-next,
.swiper-slide-visible.swiper-slide-prev {
  transition: all 0.5s !important;
}

.swiper-controller {
  position: relative;
  margin-top: 80px;
  display: flex;
  gap: 10px;
  z-index: 1111;
}

.swiper-button-next {
  margin-right: 150px;
}

.swiper-button-prev {
  margin-left: 150px;
}

.slider-arrow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  background: #fff;
}

.slider-arrow::after {
  content: "";
}

.slider-arrow .icon {
  position: relative;
  z-index: 11111111111;
  color: black;
  font-size: 16px;
  font-weight: 500;
  pointer-events: all;
  cursor: pointer;
}

.swiper-pagination {
  transform: translateY(50%) !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 4px !important;
  border-radius: 4px !important;
  transition: all 0.3s;
  background: #ffffff;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  width: 20px !important;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.casestudies1 {
  --index: 1;
}

.casestudies2 {
  --index: 2;
}

.bg-casestudy {
  position: sticky;
  top: 6rem;
  transition: all 0.5s;
}

@media screen and (max-width: 576px) {
  .bg-casestudy {
    height: 400px;
  }
}

.mt-n1 {
  margin-top: -0.25rem !important;
}

.mt-n2 {
  margin-top: -0.5rem !important;
}

.mt-n3 {
  margin-top: -1rem !important;
}

.mt-n4 {
  margin-top: -1.5rem !important;
}

.mt-n5 {
  margin-top: -3rem !important;
}

.me-n1 {
  margin-right: -0.25rem !important;
}

.me-n2 {
  margin-right: -0.5rem !important;
}

.me-n3 {
  margin-right: -1rem !important;
}

.me-n4 {
  margin-right: -1.5rem !important;
}

.me-n5 {
  margin-right: -3rem !important;
}

.mb-n1 {
  margin-bottom: -0.25rem !important;
}

.mb-n2 {
  margin-bottom: -0.5rem !important;
}

.mb-n3 {
  margin-bottom: -1rem !important;
}

.mb-n4 {
  margin-bottom: -1.5rem !important;
}

.mb-n5 {
  margin-bottom: -3rem !important;
}

.ms-n1 {
  margin-left: -0.25rem !important;
}

.ms-n2 {
  margin-left: -0.5rem !important;
}

.ms-n3 {
  margin-left: -1rem !important;
}

.ms-n4 {
  margin-left: -1.5rem !important;
}

.ms-n5 {
  margin-left: -3rem !important;
}

.circular {
  height: 7rem;
  width: 7rem;
}

.h-112 {
  height: 112% !important;
}

@media screen and (max-width: 576px) {
  .py-10 {
    padding-top: 5rem !important;
  }
}

@media (min-width: 768px) {
  .mb-md-n5 {
    margin-bottom: -3rem !important;
  }
}
