/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* common css  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.header{
    color: #081158;
    margin-bottom: 20px;
}
.header-p{
    color: rgba(0,0,0,.55);
}
.header-btn{
    color: white;
    text-decoration: none;
    background-color: #081158;
}
.projects-a{
    padding: 5px 10px;
    color: white;
    background-color: rgb(6, 6, 41);
    border-radius: 20px;
    text-decoration: none;
}
.card-group{
    background-color: #ffffff;
    border: 10px whitesmoke;
    box-shadow: 10px 15px 10px whitesmoke;
    border-radius: 15px 10px;
}
.footer {
    background-color: #101056;
    max-width: 100%;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons i {
    margin-left: 10px;
    color: #ffffff;
  }
  .title {
    color: #ffffff;
  }