.footer {
  background-color: #191925;
  background-image: linear-gradient(#17172c,#10101f, rgb(4, 4, 39) );
  max-width: 100%;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons i {
  margin-left: 10px;
  color: #ffffff;
}
.title {
  color: #ffffff;
}
