.card-group {
  background-color: #ffffff;
  border: 10px whitesmoke;
  box-shadow: 10px 15px 10px whitesmoke;
  border: 15px whitesmoke;
  box-shadow: 15px 20px 15px whitesmoke;
  border-radius: 15px 10px;
}
a.blog-btn{
  border-color: #212529;
  text-decoration: none;
  color: white;
  background-color: #36393b;
  background-image: linear-gradient(#36393b, #202325, #151616);
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 15px;
}
.my-swiper{
  width: 60%;
}
.swiper-wrapper{
  margin-bottom: 2.8rem;
}

@media screen and (max-width: 760px){
  .my-swiper{
    width: 90%;
  }
  .swiper-wrapper{
    margin-bottom: 1.8rem;
  }
}
